html { background-color: #b3b3b3; }
body { border-width: 2px; border-color: #222; background-color: #999; }
p, h1, h2, h3, h4 { color: #222; }
a { color: #004880; text-decoration: none; }
a:hover { color: #004880; text-decoration: underline; }

button.button[onclick="location.href='instructions.html';"], button.button[onclick="location.href='index.html';"], button.button[style="background-color: #2196f3;"] { background-color: #22B; border: 1px solid #222; border-width: 1px 1px 2px 1px; }
button.button[onclick="location.href='instructions.html';"]:active, button.button[onclick="location.href='index.html';"]:active, button.button[style="background-color: #2196f3;"]:active { border-bottom-width: 1px; transform: translateY(1px); }

.small_button { background-color: #808080!important; color: #222222!important; border-style: solid!important; border-color: #222222!important; border-top-width: 1px!important; border-left-width: 1px!important; border-right-width: 1px!important; border-bottom-width: 2px!important; border-radius: 4px; }
.small_button:active { border-bottom: solid 1px #222222!important; transform: translateY(1px)!important; border-color: #222222!important; }
.small_button_off { background-color: #b3b3b3; border-color: #222; color: #737373; }

hr { border-color: #808080; color: #808080; }

p.question { border: 2px solid #222; background-color: #808080; }
.button[style="background-color: #b71c1c;"] { background-color: #990000!important; }
.button[style="background-color: #f44336;"] { background-color: #FF0000!important; }
.button[style="background-color: #bbbbbb;"] { background-color: #808080!important; }
.button[style="background-color: #4caf50;"] { background-color: #60B060!important; }
.button[style="background-color: #1b5e20;"] { background-color: #366336!important; }

path { color: #b3b3b3; }
