html, body, #client-ui { color: #222; border-color: #222; }
a { color: #004880; }

.p-message_pane, .p-workspace__secondary_view, .p-workspace__primary_view, .p-workspace__sidebar, .p-workspace__sidebar:after { background-color: #222; }

.c-banner--info { background-color: #228; }

#client_header .channel_header, .p-classic_nav { background-color: #595959!important; }
ts-icon { color: #FFF!important; }
#pinned_item_count_count, #channel_members_toggle_count_count, .star.ts_icon:before, .p-classic_nav__model__title__info, .p-classic_nav__model__title__info__topic__edit { color: #FFF; }
#channel_topic_text { background-color: #595959; color: #FFF}
#edit_topic_inner:before, .p-classic_nav__model__title__info__topic:hover .p-classic_nav__model__title__info__topic__text:before { background-color: #595959; border-color: #222; }
.channel_header_info_item .btn_link { color: #FFF!important; }
.search_input_wrapper, #search_terms { background-color: inherit; }
#header_search_form, .p-channel_sidebar__jumper, .p-classic_nav__right__search { background-color: #808080!important; border-radius: 8px; border: 1px solid #222; padding: 3px; }
.p-channel_sidebar__jumper { padding-left: 5px; padding-right: 5px; color: #b3b3b3}
#search_terms .ql-editor { padding-left: 5px!important; }
.p-classic_nav__right__button:hover { color: #222; }

.client_main_container { background-color: #222; }
#client_body:before { background: inherit!important; }

.c-scrollbar__hider:before { background-color: #b3b3b3!important; }
.c-message_list__day_divider__label__pill { margin-top: 2%; background-color: #999; border: 1px solid #222; transform: translateY(-36%)}
.p-highlights_section__group_title_label { background-color: #999; border: 1px solid #222; border-radius: 50px; padding: 3px 12px; transform: translateY(-12%)}
.p-highlights_section__group_title_line { border-color: #222; }

.c-virtual_list__scroll_container { background-color: #b3b3b3; }
.c-message--light { background-color: #b3b3b3; }
.c-message--hover { background-color: #999!important; }
.c-message__edited_label, .c-timestamp__label, .c-message__broadcast_preamble_meta { color: #444!important; }
.c-avatar__image { border: 1px solid #222; border-radius: 5px; }
.c-message_attachment__author_icon .c-avatar__image { height: 89%!important; width: 89%!important; }
.c-message__content a { color: #004880; }
.c-link--button { color: #004880; }
.p-message_actions_menu { box-shadow: none; }
.c-menu__items { background-color: #808080;  }
.c-reaction_add { background-color: #999!important; }
.c-menu_item__li--highlighted .c-menu_item__button { background-color: #595959; }
.c-message__actions .c-button-unstyled { background-color: #808080; color: #444}
.c-message__actions .c-button-unstyled:hover { color: #222; background-color: #707070; }
.c-message__actions, .c-message__actions:hover { border: 1px solid #222; border-radius: 7px; box-shadow: none; background-color: #808080!important; }
.c-member_slug:not(.c-member_slug--mention) { background-color: inherit; }
.c-member_slug:not(.c-member_slug--mention):hover { background-color: inherit; text-decoration: underline; color: #1264a3}
.p-notification_bar__typing { color: #222; }
.c-member_slug--mention { background-color: #1264a3; color: #FFF!important; border-radius: 0px; border-radius: 2px; }
.c-member_slug--mention:hover { background-color: #3294d3; }
.c-mrkdwn__broadcast--mention, .c-mrkdwn__broadcast--mention:hover { background-color: #f2c744; }
.c-message__reply_bar:hover, .c-message__reply_bar:hover .c-message__reply_bar_view_thread { background-color: #808080!important; border-color: #222; }
.c-message__reply_bar_description * { color: #444; }
.c-message_attachment__border, .c-mrkdwn__quote:before { background-color: #595959!important; }
.c-reaction { border: 1px solid #222; background-color: #b3b3b3; }
.c-reaction:hover { background-color: #999!important; box-shadow: none!important; }
.c-reaction--reacted { background-color: #999; }
.c-message_list__day_divider__line { border-color: #222; }
.c-message_attachment__thumb { border: 1px solid #222; }
.c-message_attachment__author_subname { color: #004880; }
.c-message_attachment__author { color: #222; }
.c-message_attachment__footer { color: #222; }
.c-message_kit__text { color: #222; }

.p-message_pane__limited_history_foreword { background-color: #999; border-top: none; border-bottom: 1px solid #222; background-image: none; }

.p-flexpane_header { background-color: #808080; border-color: #222; }
.c-channel_name__text { color: #444; }
.p-threads_flexpane__separator_line { border-color: #222; }
.p-message_input_field, .p-message_input_file_button { background-color: #808080!important; border-color: #222!important; color: #444!important; }
.p-message_input_file_button:hover { background-color: #999!important; }
.p-threads_flexpane .c-scrollbar__hider { background-color: #b3b3b3; }
#col_flex { border-color: #222!important; }
.c-message_kit__hover--hovered { background-color: #999; }

#footer_msgs, .workspace__primary_view_footer { background-color: #999; border-top: 1px solid #222; padding-top: 5px; }
.p-notification_bar__formatting { color: #222; }
.p-notification_bar__formatting code { color: #fff; }
#footer_msgs .ql-editor, #primary_file_button { background-color: #808080!important; color: #444!important; }
.ql-composer-sticky { background-color: #808080!important; border-top: 1px solid #222; border-color: #222!important; }
#msg_input { background-color: inherit; }
#msg_input, #msg_input:focus, #primary_file_button, #primary_file_button:focus { border-color: #222!important; }
#primary_file_button { color: #444!important; }
#primary_file_button:hover { background-color: #999!important; }
.ts_icon:before, ts-icon:before { color: #222; }
.btn_unstyle .ts_icon_happy_smile:before { color: initial; }

.client_channels_list_container, .p-channel_sidebar { background-color: #808080!important; }
.p-classic_nav__team_header { background-color: #808080!important; border-right: 1px solid #222; }
body:not(.loading) #team_menu:hover, body:not(.loading) .p-classic_nav__team_header:hover { background-color: #595959!important; }
.p-channel_sidebar__link--unread:not(.p-channel_sidebar__link--all-threads) { border-top: 1px solid #222; }
.p-channel_sidebar__link--unread, .p-channel_sidebar__link--all-threads { border-bottom: 1px solid #222; }
.p-channel_sidebar__link--selected { background-color: #595959; color: #fff!important; }
.p-channel_sidebar__link:hover { background-color: #595959; color: #FFF; }
.p-channel_sidebar__link { color: #444; }
.p-channel_sidebar__channel { border-top: 1px solid #222; }
.p-channel_sidebar__channel:not(.p-channel_sidebar__channel--selected) span, .p-channel_sidebar__channel:not(.p-channel_sidebar__channel--selected):before { color: #444; }
.p-channel_sidebar__channel--selected, .p-channel_sidebar__channel:hover { background-color: #595959; color: #FFF; }
.p-channel_sidebar__channel:hover span, .p-channel_sidebar__channel:hover:before { color: #FFF; }
.p-channel_sidebar__channel--unread:before { color: #FFF!important; font-weight: bold; }
.p-channel_sidebar__section_heading_label { color: #444; }
.p-channel_sidebar__section_heading_label:hover { color: #222; }
.p-channel_sidebar__section_heading_plus { color: #444; }
.p-channel_sidebar__section_heading_plus:hover { color: #222; }
.p-channel_sidebar__banner--unreads.p-channel_sidebar__banner--top { background-color: #808080; box-shadow: none; border: 1px solid #222; left: -1px; width: 100.5%; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; border-top-width: 0px; }
.p-channel_sidebar__banner--unreads.p-channel_sidebar__banner--bottom { background-color: #808080; box-shadow: none; border: 1px solid #222; left: -1px; width: 100.5%; border-top-left-radius: 8px; border-top-right-radius: 8px; border-bottom-width: 0px; }

.p-emoji_picker { background-color: #808080!important; border: 1px solid #222; border-radius: 10px!important; }
.p-emoji_picker__input_container { background-color: #808080; }
.p-emoji_picker__input { background-color: #808080!important; border: 1px solid #222!important; }
.p-emoji_picker__icon_search { color: #595959; }
.p-emoji_picker__input:focus+#emoji-picker-search-description+.p-emoji_picker__icon_search { color: #444; }
.p-emoji_picker__list_container, .p-emoji_picker__footer { background-color: #808080; }
.p-emoji_picker__emoji_deluxe_label { color: #444; }
.p-emoji_picker__content:hover .p-emoji_picker__skintone_btn_container { background-color: #999; border-color: #222; }
.p-emoji_picker__skintone_label { color: #444!important; }
.p-emoji_picker__heading { background-color: #808080; border-bottom: 1px solid #222; color: #222; }
.p-emoji_picker__preview_text { background-color: #999; border: 1px solid #222; border-radius: 8px; padding-left: 5px; color: #444; padding-bottom: 4px; padding-top: 4px; }
.p-emoji_picker__list_item:hover { background: inherit!important; border: 1px solid #222; }
.p-emoji_picker__group_tab { color: #444; }
.p-emoji_picker__group_tab:hover, .p-emoji_picker__group_tab--active { background-color: #999; color: #222; border-color: #222; }
.p-emoji_picker__tip--can_add_emoji, .p-emoji_picker__tip__icon { color: #222!important; }
.p-emoji_picker__tip--can_add_emoji a { color: #004880; }
.p-emoji_picker__add_custom_emoji { background-color: #808080; border-color: #222; }
.p-emoji_picker__footer:not(.p-emoji_picker__footer--previewing) .p-emoji_picker__preview_text { display: none; }
.p-emoji_picker__list_item.key_selection { background-color: inherit!important; }

.menu_body { background-color: #999; box-shadow: none; border: 1px solid #222; border-radius: 5px}
.current_user_name, .slack_menu_header_primary { color: #222; }
.current_user_preferred_name, .current_team_name { color: #444; }
.slack_menu_section { border-radius: 5px 5px 0px 0px; }
.slack_menu_download { border-radius: 0px 0px 5px 5px; background-color: #999; }
.menu_body li[role="menuitem"] { border-top: 1px solid #222; color: #222; }
.menu_body li[role="menuitem"]:hover a { background-color: #808080!important; }
.team_pricing_info a { color: #004880!important; }

.c-message_list__unread_divider__separator { border-color: #222!important; border-width: 1px; opacity: 1!important; }
.c-message_list__unread_divider__label { color: #222; border: 1px solid #222; background-color: #999; }

.menu { background-color: #999; border: 1px solid #222; box-shadow: none; }
.menu_body { border: none; }
.menu .flexpane_menu_item:hover a { background: #808080!important; }

.panel.active { background-color: #999; }

.p-archives_banner { background-color: #999; border: 1px solid #222; border-bottom-width: 0px; color: #444; font-weight: normal; bottom: 0px; box-shadow: none; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; border-top-left-radius: 5px; border-top-right-radius: 5px; }

.p-activity_flexpane__top_anchor_hack_item { border-color: #222; }
.p-activity_flexpane .p-flexpane_header { border-bottom: none; }
.c-message_kit__footer_spacer:before { color: #222; }

.c-pillow_file_container { border-color: #222!important; }
.c-pillow_file { background-color: #999; }
.c-pillow_file__icon:before { color: #004880; }
.c-pillow_file__icon:after { color: #FFF; background-color: #004880; border-width: 2px; }
.c-pillow_file__slide { background-color: #999!important; }
.c-file__action_button { opacity: 1!important; background-color: #999; }
.c-file__action_button:after { border-color: #222; }

.p-flexpane__body--empty { background-color: #999; }

.c-input_text, .c-texty_input--single_line, .c-multi_select_input, .c-multi_select_input__input { background-color: #808080; border: 1px solid #222; color: #222; }

.c-texty_input { border-radius: 0px; }

.c-fullscreen_modal__header { background-color: #595959; border-bottom: 1px solid #222; }
.c-fullscreen_modal__body { background-color: #b3b3b3; }
.c-fullscreen_modal__close { color: #444; }
.c-fullscreen_modal__close:hover { background-color: #999; color: #444; }
.c-fullscreen_modal__close:active { background-color: #999; color: #222; }

#invite_users_input_invites { background-color: inherit; }
.c-input_text:focus, .c-texty_input--single_line:focus, .ql-container.focus { border: 1px solid #222!important; }
.c-input_text:focus, .c-texty_input--single_line:focus, .c-multi_select_input:focus, .ql-container.focus, .c-multi_select_input--focused { box-shadow: none!important; }

.c-toggle__input { background-color: #999; border-color: #222; }
.c-toggle__visual:after { background-color: #222; }
.c-toggle__input:focus { box-shadow: none; border: 1px solid #222; }

.c-button { background-color: #808080; border: 1px solid #222; border-bottom-width: 2px; color: #222; }
.c-button:focus { box-shadow: none; border: 1px solid #222; border-bottom-width: 2px; }
.c-button:active { border-bottom-width: 1px; background-color: #808080; transform: translateY(1px); }
.c-button:active:focus { border-bottom-width: 1px; }
.c-button:hover { color: #222; box-shadow: none; }

.c-button--disabled { border-bottom-width: 1px; background-color: #999; color: #444; }

.p-message_pane__top_banners { transform: translateY(-50%);  }
.p-message_pane__unread_banner > * { background-color: #228; }
.c-scrollbar__hider:before { display: none!important; }

.c-menu_item__description { color: #444; }

.c-texty_autocomplete { background-color: #999; box-shadow: none; border: 1px solid #222; }
.c-texty_autocomplete__result:hover, .c-texty_autocomplete__result--selected { background-color: #808080; }

.c-dialog__header, .c-dialog__content, .c-dialog__footer { background-color: #999; }
.c-dialog__content { border: 1px solid #222; }
.c-dialog__header { border-bottom: 1px solid #222; }
.c-dialog__footer { border-top: 1px solid #222; }
.p-custom_status_input__preset_option:hover { background-color: #808080!important; }
.c-input_character_count__characters-remaining { background-color: #808080!important; }

.c-input_select, .c-select_button { background-color: #808080; border: 1px solid #444!important; border-bottom-width: 2px!important; border-left-width: 2px!important; }
.c-input_select__selected_value { color: #222!important; }
.c-input_select:hover, .c-select_button:hover { cursor: default; }
.c-input_select:active, .c-select_button:active { background-color: #808080; border-color: #222!important; box-shadow: none; }
.c-input_select:focus, .c-select_button:focus { box-shadow: none; }
.c-input_select_options_list_container { background-color: #999!important; border-color: #222!important; }
.c-input_select_options_list__option:hover { background-color: #808080!important; border: none!important; box-shadow: none!important; }
.c-select_options_list__option { background-color: #999; }
.c-select_options_list__option:hover { background-color: #808080; }
.ReactVirtualized__Grid { border: 1px solid #222; background-color: #999; border-radius: 6px 0px 0px 6px; }

.p-pill.p-custom_status_input__shortcut_pill { background-color: #222; }

.c-icon--close-filled { color: #222; }

.p-workspace__secondary_view { background-color: #999; border-left: 1px solid #222; }

.c-input_textarea { background-color: #808080; border: 1px solid #222!important; box-shadow: none!important; }

.c-mention_badge { background-color: #222; color: #fff!important; }

.c-label { border-color: #222!important; }

.sk_light_gray { color: #444; }

.p-prefs_modal__radiogroup--selected { background-color: #999!important; }
.p-prefs_modal__radio_decorator { background-color: inherit!important; }

.p-degraded_list__loading--offline { background-color: #b3b3b3; }
.p-degraded_list__loading { background-color: #b3b3b3; color: #222; }

.p-member_profile_card { background-color: #999; border: 1px solid #222; }

.c-message_list.c-virtual_list--scrollbar>.c-scrollbar__hider { background: #b3b3b3!important; }

.c-message--standalone { border-color: #222; margin-bottom: 5px; }

.p-galler_scroller__wrapper { background-color: #999!important; border-color: #222!important; padding-left: 2px; padding-right: 2px; }
.c-input_select__filter_input { background-color: inherit; }

.c-input_select--active { box-shadow: none!important; }

code { background-color: #282A36; border: 1px solid #fff; }
code::selection { background-color: #999; }

.c-texty_input__button_icon { color: #595959; }

.p-channel_sidebar__close_container:hover { background-color: #595959; }
.p-channel_sidebar__close_container:hover span, .p-channel_sidebar__close_container:hover > a:before { color: #FFF; }

.p-workspace__top_nav { margin-bottom: 0.4%; border-bottom: 1.5px solid #222; }
.p-classic_nav__team_header { border-bottom: 1px solid #222; }

.c-message_kit__message { background-color: #b3b3b3; border-color: #222!important; }
.c-message_kit__hover { background-color: #999; border-color: #222!important; }
.p-channel_details__subtitle { color: #444; }
.p-channel_details__notification_prefs_section__pref_label { color: #444; }

.p-unreads_view__header { background-color: #b3b3b3; }

.c-message_kit__gutter { background-color: #b3b3b3; }
.c-message_kit__hover--hovered .c-message_kit__gutter { background-color: #999; }
.c-message_kit__labels__label { background-color: #b3b3b3; }
.c-message_kit__hover--hovered .c-message_kit__labels__label { background-color: #999; }
.c-message_kit__labels__text { color: #444; }

.p-threads_view { background-color: #b3b3b3; }
.p-threads_view .c-virtual_list__scroll_container .c-virtual_list__item:nth-of-type(3) .c-message_kit__gutter, .p-threads_view .c-virtual_list__scroll_container .c-virtual_list__item:nth-of-type(3) .c-message_kit__hover { border-radius: 11px 11px 0px 0px; }
.p-message_pane .c-virtual_list__item:last-of-type:hover, .p-message_pane .c-virtual_list__item:last-of-type:hover .c-message_kit__gutter { background-color: #999!important; }
.c-virtual_list__item:last-of-type:hover .c-message_actions__container { display: block; }
.p_threads_view_load_older_button { border: 1px solid #222; background-color: #b3b3b3; }
.p_threads_view_load_older_button:hover { background-color: #999; }
.p-threads_view__footer { border: 1px solid #222; background-color: #b3b3b3; }
.p-threads_view__divider_label { background-color: #999; color: #222; border: 1px solid #222; }
.p-threads_view__divider_line { border-color: #222; }
.p-thread_participant_list { color: #444; }

.c-filter_input, .c-filter_input:hover, .c-filter_input--active { border: 1px solid #222!important; }
.c-filter_input { box-shadow: none!important; }
.c-filter_input, .c-filter_input__input { background-color: #808080; }
.p-apps_browser__category_header { background-color: #b3b3b3; }
.p-apps_browser__app { border-top: 1px solid #222; }
.p-apps_browser__app:hover { background-color: #999; border-color: #222; }
.p-apps_browser__category_section--tutorial .p-apps_browser__app { border-color: #222; }

.c-search_modal .ReactModal__Content > div[role="presentation"] { background-color: #999; border: 1px solid #222; }
.c-search_autocomplete footer { background-color: #808080; border-top: 1px solid #222; }
.c-search__input_and_close { border-bottom: 1px solid #222; background-color: #808080; }
.c-search__input_box { background-color: #808080!important; }
.c-icon--times, .c-multi_pane_modal__back { color: #444!important; }
.c-icon--times:hover, .c-multi_pane_modal__back:hover { color: #222!important; }
.c-search__input_box__input { border: 1px solid #222!important; background-color: #808080; }
.c-search_autocomplete__suggestion_item--selected { background-color: #808080; }
.ql-placeholder { background-color: inherit!important; border: none!important; }
.c-search_autocomplete__header_label_text { color: #444; }
.token.member_token, .token.channel_token { background-color: #b3b3b3; }
.c-search_autocomplete__suggestion_item--selected .token.member_token, .c-search_autocomplete__suggestion_item--selected .token.channel_token { background-color: #999; }
.c-keyboard_key { background-color: #595959; border: 1px solid #222; color: #222}
.c-search, .c-search__container { background-color: #999; }
.c-search__tabs { background-color: #808080; border-bottom: 1px solid #222; box-shadow: none; }
.c-search_filter_section__title:after { border-color: #444; }
.c-search_filter_section__title { color: #444; }
.c-channel_name__text { color: #222; }
.p-search_filter__date { background-color: #808080; border-color: #222!important; }
.p-search_filter__datepicker_trigger, .p-search_filter__dates { border-color: #222!important; }
.p-search_filter__date:first-of-type { border-radius: 3px 3px 0px 0px; }
.p-search_filter__date:last-of-type { border-radius: 0px 0px 3px 3px; }
.p-message_limit_banner { background-color: #808080; border: 1px solid #222; }
.p-message_limit_banner__graphic { background-color: #808080; }
.c-search__section_header, .p-message_limit_banner__content { color: #444; }
.c-tabs__tab--active, .c-tabs__tab:active { box-shadow: inset 0 -2px 0 0 #222!important; }
.c-input_select_options_list__option--selected { color: #004880; }
.ReactVirtualized__Grid { border: none; }
.c-search__input_box__clear { color: #444; border-color: #222!important; }
.c-search__input_box__clear:hover { color: #222; }
.c-search__input_box__icon { color: #444; }
.c-tabs__tab:not(.c-tabs__tab--active) { color: #444; }
.c-message_group { border: 1px solid #222!important; background-color: #808080}
.c-message_group__header_date { color: #004880!important; }
.c-icon--channel { color: #222!important; }
.c-channel_name + span { color: #004880!important; }
.c-message_group__header_view_label { color: #444; }
.c-message_attachment__footer_text { color: #444; }
.c-search_message__replies_count { color: #444; }
.c-search__expand_ellipsis { color: #444; }
.c-message_actions__container { border: 1px solid #222!important; background-color: #808080; }
.c-message_actions__container i:before { color: #222; }
.c-message_actions__container button:hover i:before { color: #444; }

.c-date_picker__dropdown { background-color: #999; border: 1px solid #222; }
.c-date_picker_calendar__date { border-color: #222; }
.c-date_picker_calendar__date:hover { background-color: #808080!important; border-color: #222!important; }
.c-date_picker_calendar__date--is_today { color: #222; }
.c-date_picker_calendar__date--is_today:after { border-color: #222; }
.c-date_picker_calendar__date--disabled { background-color: #808080; color: #444; }
.c-calendar_view_header__stepper_btn:hover { background-color: #808080; }
.c-calendar_view_header__stepper_btn:active { background-color: #808080; color: #222; }
.c-calendar_view_header__title_btn:hover, .c-calendar_view_header__title_btn:active { background-color: #808080; color: #222; }
.c-calendar_month__day_of_week_heading { color: #444; }
.c-mini_calendar__month_button { border-color: #222!important; }
.c-mini_calendar__month_button:hover { background-color: #808080!important; }
.c-mini_calendar__month_button--is_active { background-color: #808080; border-radius: 0; }
.c-mini_calendar__month_button:disabled { background-color: #808080!important; color: #444; }

.c-mrkdwn__highlight, .c-search__match { background-color: #999; border: 1px solid #222; padding: 1px; }

.c-message__editor__input { background-color: #808080; border: 1px solid #222; }

.c-mrkdwn__pre { background-color: #282A36; border: 1px solid #fff; color: #e01e5a}
.c-mrkdwn__pre::selection { background-color: #999; }

.p-share_dialog__section:last-of-type { margin-bottom: 5px; }
.p-file_details__share_divider span { color: #444; }
.p-file_details__share_divider hr { border-color: #444; }

.p-classic_nav__right_header--context_pane { background-color: inherit; }

.p-file_flexpane__storage-warning-container { background-color: #999; border-color: #222; }
.c-file__actions { border-color: #222!important; }
.c-action_buttons__button { background-color: #808080; border-color: #222!important; }
.c-action_buttons__icon:before { color: #444; }
.c-action_buttons__button:hover .c-action_buttons__icon:before { color: #222; }
.c-action_buttons__button:focus { background-color: inherit; }
.c-pillow_file__icon:not(.c-icon--filetype) { border: 1px solid #222; }

.p-file_image_thumbnail__wrapper, .c-message_attachment__image { border: 1px solid #222; border-radius: 5px; }

.c-badge { background-color: #228; color: #FFF; }

.c-sk-modal_content_section { background-color: #999; border: 1px solid #222; }
.c-sk-modal_header { background-color: #808080; border: 1px solid #222; border-bottom-width: 0px; }
.c-sk-modal_footer { background-color: #808080; border: 1px solid #222; border-top-width: 0px; }
.p-edit_profile__photo { border: 1px solid #222; }

.p-message_pane_input__preview { background-color: #999; }

.p-file_viewer__nav { background-color: #595959; box-shadow: none; border: 1px solid #222; }
.p-file_viewer__nav i:before { color: #222; }
.p-zoom__control_group { background: #222; }

.p-classic_nav__model__button--disabled i:before { color: #444; }

.p-threads_view .c-virtual_list__item:nth-of-type(2) .c-message_kit__gutter { border-top-left-radius: 8px; }

.c-tooltip__tip { background-color: #222; opacity: 0.8; }
.c-tooltip__tip--top-left .c-tooltip__tip__arrow, .c-tooltip__tip--top .c-tooltip__tip__arrow, .c-tooltip__tip--top-right .c-tooltip__tip__arrow { border-top-color: #222; }
.c-tooltip__tip--bottom .c-tooltip__tip__arrow, .c-tooltip__tip--bottom-left .c-tooltip__tip__arrow, .c-tooltip__tip--bottom-right .c-tooltip__tip__arrow { border-bottom-color: #222; }

.p-context_bar { background-color: #808080; transform: translateY(20%); border: 1px solid #222; padding-top: 0px; padding-bottom: 5px; color: #444; }

.c-menu { border: 1px solid #222; padding: 0!important; }

.p-message_input_field, .p-message_input_field .ql-editor { cursor: default; }
.p-message_input_field .ql-editor p { cursor: text; }

.p-channel_sidebar__banner--mentions { background-color: #808080; border: 1px solid #222; border-left-width: 0px; width: 100%; box-shadow: none; left: 0px; right: 0px; }
.p-channel_sidebar__banner--bottom { border-bottom-width: 0px; }
.p-channel_sidebar__banner--top { border-top-width: 0px; }

.c-message__tombstone_icon { border: 1px solid #222; }
.c-message__tombstone_icon i:before { color: #595959}

.p-channel_details__members_dialog { background-color: #808080; border-left: 1px solid #222; border-right: 1px solid #222; border-bottom: 1px solid #222; border-bottom-left-radius: 7px!important; border-bottom-right-radius: 7px; }
.p-channel_details__members_dialog__list { border-bottom-left-radius: 7px; border-bottom-right-radius: 7px; }

.c-base_list_entity--highlight-light { background-color: #999; }

.p-channel_sidebar__static_list .c-virtual_list__scroll_container { background-color: #808080; }

.p-message_pane__top_banners > .p-message_pane__search_tip_banner { background-color: #808080; border: 1px solid #222; }

.p-client { background-color: #808080; }

.p-top_nav { background-color: #595959; box-shadow: none; max-width: 1660px; left: 260px; border-left: 1px solid #222; }

.p-top_nav__search, .p-top_nav__search:hover { background-color: #808080; border: 1px solid #222; box-shadow: none; }
.p-top_nav__search:hover { border-color: #444; }
.p-top_nav__search__text { color: #b3b3b3}

.p-ia__view_header { background-color: #595959; border-left: 1px solid #222; }

.p-channel_sidebar { background: none; }

.p-ia__sidebar_header { background-color: #808080; box-shadow: none; border-color: #222; }
.p-ia__sidebar_header:hover { background-color: #595959; }
.p-ia__sidebar_header__button { border-color: #222!important; }

.p-channel_sidebar__compose_button { background-color: #808080; box-shadow: none!important; border: 1px solid #222; color: #222; }
.p-channel_sidebar__compose_button:active { background-color: #808080; }

.p-channel_sidebar__section_heading { background-color: #808080!important; border-color: #222!important; color: #222!important; }

.p-channel_sidebar__divider { display: none; }

.p-channel_sidebar__channel_icon_prefix { color: #FFF; opacity: 0.3!important; }
.p-channel_sidebar__channel:hover .p-channel_sidebar__channel_icon_prefix, .p-channel_sidebar__channel--selected .p-channel_sidebar__channel_icon_prefix { opacity: 0.6!important; }
.p-channel_sidebar__list { background: none; }

body.p-client_desktop--ia-top-nav .c-virtual_list { border-left: 1px solid #222; }

.p-top_nav__button, .p-ia__view_header__button { color: #222; }
.p-top_nav__button:hover, .p-ia__view_header__button:hover { background-color: #575757; }
.p-top_nav__button:active, .p-ia__view_header__button:active { background-color: #525252}

.p-classic_nav__model__title__info__topic__content { color: #fff; }

.workspace__primary_view_footer { border-left: 1px solid #222; }

.c-texty_input.c-texty_input--double_decker.focus:after { background-color: #222; display: none; }

.p-flexpane--iap1 .p-flexpane_header { background-color: #595959; background: #595959; }

.p-global_banner { background-color: #808080; border-bottom: 1px solid #222; border-top: 1px solid #222; overflow: hidden; }
